<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.agile.qdmp.standalong.mapper.integrator.DimensionMapper">

    <select id="listBySampleAndOperation" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        r.[ID] as ActualID,
        r.[ActualPartInstanceID],
        r.[ActualInstanceID],
        r.[ActualDimID],
        r.[ActualOperationID],
        -- r.[ActualInventoryID],
        -- r.[ActualMachineID],
        r.[ActualContactID],
        -- r.[ActualNonConformanceID],
        -- r.[ActualNonConfAttachDate],
        -- r.[ActualNonConfAttachContactID],
        -- r.[ActualSPCDataID],
        -- r.[ActualReviewed],
        -- r.[ActualInspectDate],
        r.[ActualTypeExist],
        r.[ActualNominalExist],
        r.[ActualLowerTolExist],
        r.[ActualUpperTolExist],
        r.[ActualDeviationExist],
        r.[ActualOutTolExist],
        r.[ActualIsValid],
        r.[ActualNominalValid],
        r.[ActualUpperTolValid],
        r.[ActualLowerTolValid],
        r.[ActualIsPrimary],
        r.[ActualGroup],
        r.[ActualSort],
        r.[ActualCode],
        r.[ActualType],
        r.[ActualAxis],
        r.[ActualUnits],
        r.[ActualData],
        r.[ActualDataPrec],
        r.[ActualNominal],
        r.[ActualNomPrec],
        r.[ActualLowerTol],
        r.[ActualUpperTol],
        r.[ActualLowerTol1],
        r.[ActualUpperTol1],
        r.[ActualTolPrec],
        r.[ActualBonus],
        r.[ActualDeviation],
        r.[ActualError],
        r.[ActualResult],
        r.[ActualStatus],
        r.[ActualComment],
        r.[ActualText],
        r.[ActualFeature1],
        r.[ActualFeature2],
        r.[ActualCp],
        r.[ActualCpk],
        r.[ActualPp],
        r.[ActualPpk],
        r.[ActualMeas],
        r.[ActualSource],
        r.[ActualFiles],
        r.[ActualImportID],
        r.[ActualExport],
        r.[ActualNum],
        r.[ActualRange],
        r.[ActualFailedCount],
        r.[ActualNotified],
        -- r.[RecordStatus],
        -- r.[DataExchangeSessionID],
        -- r.[UpdateRecordID],
        -- r.[ClientID],
        -- r.[IsolationID],
        r.[GlobalID] as ActualGUID,
        -- r.[PortalID],
        -- r.[CreationDate],
        -- r.[LastModificationDate],
        -- r.[LastModificationStamp],
        -- r.[IsDeleted],
        -- r.[ReplicationDate],
        -- r.[ReplicationFlag],
        r.[ActualOverridePassFail],
        r.[ActualEnteredZero],
        -- r.[FileArchiveID],
        -- r.[TenantID],
        -- r.[MultIndex],
        -- r.[DimInspectionPlanID],
        -- r.[IsInWarningZone],
        -- r.[InspectionStatus],

        d.[ID] as DimID,
        d.[DimPartID],
        d.[DimDrawingID],
        d.[DimManProcessID],
        d.[DimTool],
        d.[DimKeySetID],
        d.[DimKeySet],
        d.[DimIsFinished],
        d.[DimName],
        d.[DimCode],
        d.[DimSort],
        d.[DimMultiplier],
        d.[DimType],
        d.[DimTypeFormat],
        d.[DimTolType],
        d.[DimTolClass],
        d.[DimTolCalc],
        d.[DimUnits],
        d.[DimZeroSuppress],
        d.[DimRequirement],
        d.[DimData],
        d.[DimDataPrec],
        d.[DimLowerTol],
        d.[DimUpperTol],
        d.[DimTolPrec],
        d.[DimZoneValue],
        d.[DimComposite],
        d.[DimSymbols],
        d.[DimRequirement2],
        d.[DimData2],
        d.[DimDataPrec2],
        d.[DimLowerTol2],
        d.[DimUpperTol2],
        d.[DimTolPrec2],
        d.[DimZoneValue2],
        d.[DimTolMod1],
        d.[DimTolMod2],
        d.[DimTolMod3],
        d.[DimDatum1],
        d.[DimDatum2],
        d.[DimDatum3],
        d.[DimDatMod1],
        d.[DimDatMod2],
        d.[DimDatMod3],
        d.[DimIsPrimary],
        d.[DimGroup],
        d.[DimMultiGroup],
        d.[DimMfgGroup],
        d.[DimIndex],
        d.[DimIsFeature],
        d.[DimFeature1],
        d.[DimFeature2],
        d.[DimCustomID],
        d.[DimLocked],
        d.[DimStatus],
        d.[DimScore],
        d.[DimText],
        d.[DimTemp],
        d.[DimMarker],
        d.[DimParams],
        d.[DimUpdated],
        d.[DimUpdateResults],
        d.[DimSource],
        d.[DimImportID],
        d.[DimTempImage],
        d.[DimFiles],
        d.[DimViewID],
        d.[DimFastID],
        d.[DimFlags],
        d.[DimSamplingRule],
        d.[DimSamplingValue],
        d.[DimDesignator],
        d.[DimAcceptanceRule],
        d.[DimQualityLevel],
        d.[DimSPC],
        d.[DimSPCTolType],
        d.[DimTargetCpk],
        d.[DimTargetPpk],
        d.[ShapeDrawingID],
        d.[ShapeType],
        d.[ShapeTitle],
        d.[ShapeBalloonForm],
        d.[ShapeBalloonArrow],
        d.[ShapeCenter],
        d.[ShapePoints],
        d.[ShapeOffset],
        d.[ShapeLocation],
        d.[ShapeRotateAngle],
        d.[ShapeZoom],
        d.[ShapeImage],
        d.[ShapeText],
        d.[ShapeTextVisible],
        -- d.[ShapeActive],
        -- d.[ShapeActive2],
        -- d.[ShapeUpdated],
        -- d.[ParametersXML],
        -- d.[DimIsParametric],
        -- d.[DimParamNominal],
        -- d.[DimParamUpperTol],
        -- d.[DimParamLowerTol],
        -- d.[DimSetNominal],
        -- d.[DimSetUpperTol],
        -- d.[DimSetLowerTol],
        -- d.[CADDimID],
        d.[RecordStatus],
        -- d.[DataExchangeSessionID],
        -- d.[UpdateRecordID],
        -- d.[ClientID],
        -- d.[IsolationID],
        d.[GlobalID] as DimGUID,
        -- d.[PortalID],
        -- d.[CreationDate],
        -- d.[LastModificationDate],
        -- d.[LastModificationStamp],
        -- d.[IsDeleted],
        -- d.[ReplicationDate],
        -- d.[ReplicationFlag],
        d.[DimExtID],
        d.[DimParamNote],
        d.[DimBarcode],
        -- d.[DimCreatedDate],
        -- d.[DimModifiedByContactID],
        -- d.[DimCreatedByContactID],
        d.[DimModifiedDate]
        -- d.[DimParamMultiplier]
        -- d.[FileArchiveID],
        -- d.[SearchIndexStamp],
        -- d.[SearchText],
        -- d.[TenantID]
        FROM
            Objects_Actuals r
            LEFT JOIN Objects_Dims d ON r.ActualDimID= d.ID AND d.IsDeleted= 0
            LEFT JOIN Objects_OperationDimLinks od ON od.IsDeleted=0 AND od.LinkDimID=d.ID
        WHERE
            r.IsDeleted = 0
            AND r.ActualPartInstanceID = #{sampleId}
            <if test='operationId!= null and operationId !="" '> AND d.DimManProcessID = #{operationId} </if>
            <if test='procedureId!= null and procedureId !="" '> AND od.LinkOperationID = #{procedureId} </if>

    </select>
</mapper>
