<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.agile.qdmp.standalong.mapper.integrator.DrawingMapper">
    <select id="fetchDimFileList" resultType="com.alibaba.fastjson.JSONObject">

        SELECT
        dw.[ID] as DrwaingID,
        dw.[DrawingPartID],
        dw.[DrawingManProcessID],
        dw.[DrawingType],
        dw.[DrawingNumber],
        dw.[DrawingRevisionLevel],
        dw.[DrawingSheetName],
        dw.[DrawingSheetNo],
        dw.[DrawingVersion],
        dw.[DrawingControl],
        dw.[DrawingAddChanges],
        dw.[DrawingComments],
        dw.[DrawingPageNo],
        dw.[DrawingPdfPage],
        dw.[DrawingRotateAngle],
        dw.[DrawingSkewAngle],
        dw.[DrawingLineHeight],
        dw.[DrawingShowUnits],
        dw.[DrawingParams],
        dw.[DrawingRevisionMode],
        dw.[Drawing],
        dw.[DrawingRev],
        dw.[DrawingBallooned],
        dw.[DrawingIsVector],
        dw.[DrawingIsWired],
        dw.[DrawingHasTiles],
        dw.[DrawingTileTries],
        dw.[DrawingCustomXML],
        -- dw.[FlagsXML],
        dw.[ParametersXML],
        dw.[StatisticsXML],
        dw.[DimsLayer],
        dw.[CommentsLayer],
        dw.[ExcludesLayer],
        dw.[MaterialsLayer],
        dw.[BomItemsLayer],
        -- dw.[CADViewID],
        -- dw.[RecordStatus],
        -- dw.[DataExchangeSessionID],
        -- dw.[UpdateRecordID],
        -- dw.[ClientID],
        -- dw.[IsolationID],
        dw.[GlobalID] as DrawingGUID,
        -- dw.[PortalID],
        -- dw.[CreationDate],
        -- dw.[LastModificationDate],
        -- dw.[LastModificationStamp],
        -- dw.[IsDeleted],
        -- dw.[ReplicationDate],
        -- dw.[ReplicationFlag],
        -- dw.[DrawingBarcode],
        -- dw.[DrawingExtID],
        -- dw.[SearchIndexStamp],
        -- dw.[SearchText],
        -- dw.[TenantID],

        f.[ID] as FileID,
        f.[FolderID],
        f.[ContentType],
        f.[Name],
        f.[OrigExt],
        f.[Description],
        f.[Size],
        f.[Width],
        f.[Height],
        f.[FullPath],
        -- f.[TempPath],
        f.[FileHash],
        f.[FileStatus],
        f.[FileUploadAttempts],
        f.[FileUploadLastAttempt],
        f.[FileUploadLastError],
        f.[IsDefault],
        f.[IsPublic],
        f.[IsApproved],
        f.[IsAttachment],
        f.[IsMigrated],
        f.[FKey],
        f.[Storage],
        f.[CacheDate],
        f.[ObjectType],
        f.[SortIndex],
        -- f.[ReportID],
        -- f.[CopiedFileID],
        -- f.[RecordStatus],
        -- f.[DataExchangeSessionID],
        -- f.[UpdateRecordID],
        -- f.[ClientID],
        -- f.[IsolationID],
        f.[GlobalID] as FileGUID
        -- f.[PortalID],
        -- f.[CreationDate],
        -- f.[LastModificationDate],
        -- f.[LastModificationStamp],
        -- f.[IsDeleted],
        -- f.[ReplicationDate],
        -- f.[ReplicationFlag],
        -- f.[TenantID]
        FROM
            Objects_Drawings dw
            LEFT JOIN Core_Files f ON f.FolderID= dw.Drawing
        WHERE
            dw.id= #{id}
    </select>
</mapper>
